html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Background gradient */
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #ffe6f2 0%, #ffd9e8 50%, #ffeef7 100%);
  //background: linear-gradient(135deg, #e8ffe9 0%, #ddffef 50%, #f1fff6 100%);
  //background: linear-gradient(135deg, #e0e8ff 0%, #f5e6ff 50%, #f0f4ff 100%);


  padding: 20px;
}


/* Card box */
.signup-card {
  background: #ffffff;
  padding: 35px 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 5px;
  font-weight: 700;
  color: #333;
}

.signup-card p {
  margin-bottom: 25px;
  font-size: 14px;
  color: #555;
}

/* Input Group */
.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  transition: 0.25s;
}

.input-group input:focus {
  border-color: #4e4376;
  box-shadow: 0 0 4px rgba(78, 67, 118, 0.4);
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  pointer-events: none;
  transition: 0.2s;
  color: #888;
}

/* Floating label effect */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  background: #fff;
  padding: 0 5px;
}

/* Submit Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #4e4376;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;
}
